      <center>
       <br> 
       
        <marquee style="color: green;">ServerManager Gelişmiş Discord Botu. Web panelinde hata bulursanız lütfen yöneticilere bildiriniz.  destek sunucusuna katılmayı unutmayın.</marquee>
      </center>
    </body>
</html>
